{% load staticfiles %}

<!-- Changes to style from the bootstrap defaul are made in <main.css> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Project Unite</title>

    <!-- Bootstrap core CSS -->
    <link href="{ static 'static_files/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
<link href="{% static  'css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">

<link href=" {{ STATIC_ROOT }} " rel = "stylesheet">

    <!-- Debugging scripts.  -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  </head>

  <body>

    <!-- Static navbar -->
   {% include 'navbar.html' %}
   <div class = "body-content">
    <div class = 'row'>
    <div class = 'col-lg-2 col-12'>
      <ul class = 'nav nav-pills nav-stacked'>
           {% if request.user.is_authenticated %}
            <li><a>{{ request.user }}</a></li>
            <li><a href = '/'><span class = 'badge pull-right'>8</span>Home</a></li>
            <li><a href="/myProjects">My Projects</a></li>
            <li><a href="/edit">Edit Profile</a></li>
           {% else %}
            <li><a>Login required for <br>User feature panel</a></li>
            
          {% endif %} 
    </div>
    <div class= 'col-lg-10 col-12'>
      {% block content %}

      {% endblock %}
    </div>
      <!-- Main component for a primary marketing message or call to action -->
    
    </div> <!-- /container -->
  </div>
   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <script src="../static_files/js/jquery.js"></script> 
<script src="../static_files/js/bootstrap.min.js"></script> 
<script src="../static_files/js/jquery.prettyPhoto.js"></script> 
<script src="../static_files/js/jquery.isotope.min.js"></script> 
<script src="../static_files/js/main.js"></script>

   
   
   
   <!--
   <style>
 title {
  
  color: #d0e4fe;
}

  h1 {
    color: orange;

  }

  body {
    
    color: red;
  } 

   </style>
-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
